@font-face {
    font-family: "electrolize";
    src: url(fonts/Electrolize/Electrolize-Regular.ttf);
}

@font-face {
    font-family: "bruno";
    src: url(fonts/Bruno_Ace/BrunoAce-Regular.ttf);
}

:root {
    --verde-gaia: #09BC8A;
    --laranja-gaia: #F66B30;
    --azul-gaia: #80A6F2;
}

html {
    background-color: #f6f6f6;
    scroll-behavior: smooth;
}

.container-grid button svg
{
    fill: black;
}

.container-grid button
{
    width: 110px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

h2 {
    font-weight: lighter;
}

h3 {
    font-weight: lighter;
}

header div.container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
    align-items: center;
    margin-right: 50px;

}



header div.container-grid img {
    margin-top: 59px;
}

.banner {
    height: 100vh;
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    width: auto;
    background-position: 40%;
}

div.menu {
    margin-top: 90px;
    margin-right: 25px;
    width: 1070px;
    height: 130px;
    background-color: var(--azul-gaia);
    align-items: center;
    display: flex;
    border-radius: 30px;
    border: 4px solid black;
}

div.menu a {
    color: black;
    text-decoration: underline transparent;
    font-size: 25px;
    font-family: "electrolize";

}

div.menu nav {
    width: 1070px;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

div.menu p {
    display: none;
    font-family: "bruno";
    font-size: 48px;
}

div.menu nav.menu button {
    display: none;
    background-color: var(--laranja-gaia);
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    font-family: "bruno";
    text-align: center;
    text-indent: 170px;
    font-size: 24px;

}

#sobre .titulo-sub {
    width: 1050px;
    height: 250px;
    font-family: "bruno";
    box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 0 auto;
}

#sobre .texto-sobre {
    width: 908px;
    height: 200px;
    font-family: "electrolize";
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding-top: 40px;
    margin-left: 20px;
    font-size: 24px;
}


#sobre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 100px;
}

#sobre .titulo-sub h2 {
    margin-top: 30px;
    font-size: 32px;
}

#sobre .titulo-sub h3 {
    font-size: 24px;
    margin-top: 20px;
}

#orcamento h2 {
    font-family: "bruno";
    text-align: center;
    padding-top: 30px;
    font-size: 32px;
}

#orcamento {
    height: 650px;
    margin-bottom: 120px;
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
    width: 900px;
    border-radius: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 120px;
}

#orcamento .card {
    text-align: left;
    margin-top: 20px;
    font-family: "electrolize";
    flex-direction: column-reverse;
    font-size: 24px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;

}

#orcamento .card input {
    color: black;
    font-family: "electrolize";
    font-size: 20px;
    width: 400px;
    height: 50px;
    outline: none;
    border-radius: 10px;
    text-indent: 10px;
}

.campo-textarea {
    font-family: "electrolize";
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    font-size: 24px;
}

.campo-textarea textarea {
    font-family: "electrolize";
    font-size: 17px;
    outline: none;
    color: black;
    border-radius: 4px;
    padding: 10px;
    resize: none;
    width: 386px;
    height: 100px;
    outline: none;
    border-radius: 10px;
    text-indent: 10px;
}

#orcamento form button {
    background-color: var(--laranja-gaia);
    margin-right: 50px;
    width: 300px;
    height: 120px;
    cursor: pointer;
    border-radius: 15px;
    font-family: "bruno";
    font-size: 28px;
    outline: none;
    border: none;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
    color: white;
}

#orcamento .imagem-botao {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 50px;
}

#orcamento .imagem-botao img {
    margin-right: 85px;
    padding-top: 50px;
}

form {
    display: flex;
    flex-direction: row;
}

#orcamento .imagem-botao button {
    margin-top: 90px;
    margin-bottom: 50px;
}


#cases {
    margin-top: 200px;
    width: 900px;
    height: 500px;
    background-color: white;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-family: "bruno";
    font-size: 32px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 120px;
}

#cases .texto-cases {
    width: 210px;
    height: 230px;
    margin-left: 100px;
    margin-top: 100px;
}

#cases .button-cases {
    display: flex;
    align-items: flex-end;
    margin-right: 100px;
}

#cases .button-cases button {
    width: 250px;
    height: 130px;
    margin-bottom: 90px;
    background-color: var(--laranja-gaia);
    font-family: "bruno";
    border: none;
    font-size: 28px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

#empresa .repre {
    font-family: "bruno";
    font-size: 32px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
}

#empresa .repre img {
    margin-top: 50px;
    width: 600px;
}

#duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#duvidas h2 {
    font-family: "bruno";
    font-size: 40px;
}

#duvidas .duvida1 .pergunta1 {
    margin-top: 50px;
    box-shadow: 9px 4px 20px 1px rgba(0, 0, 0, 0.5);
    width: 900px;
    height: 100px;
    border-radius: 20px;
}

#duvidas .duvida1 .pergunta1 h3 {
    text-align: center;
    font-family: "bruno";
    font-size: 32px;
    padding-top: 32px;
}

#duvidas .duvida1 .resposta1 {
    box-shadow: 15px 10px 10px 1px rgba(0, 0, 0, 0.5);
    width: 845px;
    height: 75px;
    margin-left: 25px;
    border-radius: 20px;
}

#duvidas .duvida1 .resposta1 p {
    text-align: center;
    padding-top: 26px;
    font-family: "electrolize";
    font-size: 17px;
}

#duvidas .duvida2 .pergunta2 {
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 9px 4px 20px 1px rgba(0, 0, 0, 0.5);
    width: 900px;
    height: 100px;
    border-radius: 20px;
}

#duvidas .duvida2 .pergunta2 h3 {
    text-align: center;
    font-family: "bruno";
    font-size: 28Px;
    padding-top: 32px;
}

#duvidas .duvida2 .resposta2 {
    margin-top: 35px;
    box-shadow: 15px 10px 10px 1px rgba(0, 0, 0, 0.5);
    width: 845px;
    height: 75px;
    margin-left: 25px;
    border-radius: 20px;
}

#duvidas .duvida2 .resposta2 p {
    text-align: center;
    padding-top: 26px;
    font-family: "electrolize";
    font-size: 18px;
}

#duvidas .duvida3 .pergunta3 {
    margin-top: 130px;
    margin-bottom: 50px;
    box-shadow: 9px 4px 20px 1px rgba(0, 0, 0, 0.5);
    width: 900px;
    height: 100px;
    border-radius: 20px;
}

#duvidas .duvida3 .pergunta3 h3 {
    text-align: center;
    font-family: "bruno";
    font-size: 27px;
    padding-top: 32px;
}

#duvidas .duvida3 .resposta3 {
    margin-top: 35px;
    box-shadow: 15px 10px 10px 1px rgba(0, 0, 0, 0.5);
    width: 845px;
    height: 75px;
    margin-left: 25px;
    border-radius: 20px;
}

#duvidas .duvida3 .resposta3 p {
    text-align: center;
    padding-top: 26px;
    font-family: "electrolize";
    font-size: 18px;
}

#duvidas .duvida4 .pergunta4 {
    margin-top: 130px;
    margin-bottom: 50px;
    box-shadow: 9px 4px 20px 1px rgba(0, 0, 0, 0.5);
    width: 900px;
    height: 100px;
    border-radius: 20px;
}

#duvidas .duvida4 .pergunta4 h3 {
    text-align: center;
    font-family: "bruno";
    font-size: 23px;
    padding-top: 32px;
}

#duvidas .duvida4 .resposta4 {
    margin-top: 40px;
    box-shadow: 15px 10px 10px 1px rgba(0, 0, 0, 0.5);
    width: 845px;
    height: 75px;
    margin-left: 25px;
    border-radius: 20px;
}

#duvidas .duvida4 .resposta4 p {
    text-align: center;
    padding-top: 26px;
    font-family: "electrolize";
    font-size: 18px;
}

#rodape .banner_r {
    margin-top: 200px;
    height: 90vh;
    background-image: url(img/banner_rodape.png);
    background-repeat: no-repeat;
    width: auto;
    background-position: 40%;
}

#rodape .banner_r h2 {
    text-align: center;
    font-family: "bruno";
    font-weight: lighter;
    font-size: 40px;
}

#rodape .banner_r .texto-botao .textor a {
    background-color: var(--verde-gaia);
    margin-left: 75px;
    font-family: "electrolize";
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 20px;
    text-align: left;
    color: white;
    font-size: 20px;
    text-indent: 15px;
    text-decoration: none;
    display: flex;
    font-size: 28px;
    text-align: center;
    margin-top: 5px;
    padding-top: 12px;
}

#rodape .banner_r .texto-botao .textor p {
    font-family: "electrolize";
    font-size: 40px;
    width: 750px;
    height: 300px;
    margin-left: 75px;
    margin-top: 50px;
    text-align: justify;
    margin-bottom: 100px;

}

#rodape .banner_r .texto-botao .textor {
    width: 600px;
}

#rodape .banner_r .texto-botao .botaor {
    width: 300px;
}

#rodape .banner_r .texto-botao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#rodape .banner_r .botaor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 100px;
    margin-top: 80px;

}

#rodape .banner_r .botaor a {
    background-color: var(--verde-gaia);
    cursor: pointer;
    width: 300px;
    height: 63px;
    margin-bottom: 100px;
    font-family: "electrolize";
    font-size: 28px;
    text-align: left;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: 500ms;
}


#rodape .banner_r .botaor a img {
    width: 40px;
    margin-left: 17px;
    margin-top: 4px;
}

#orcamento .imagem-botao button:hover {
    background-color: #ca5928;
}

#orcamento .imagem-botao button {
    transition: 500ms;
}

#cases .button-cases button:hover {
    background-color: #ca5928;
}



#cases .button-cases button {
    transition: 500ms;
}

#rodape .banner_r .botaor a:hover {
    background-color: #07926b;
}

#rodape .banner_r .texto-botao .textor a:hover {
    background-color: #07926b;
}

#rodape .banner_r .texto-botao .textor a {
    transition: 500ms;
}

#topo .banner .retorno a {
    bottom: 0;
    position: fixed;
    margin-left: 25px;
    margin-bottom: 25px;

}


@media screen and (max-width: 1300px) {
    header div.container-grid {
        margin-left: 5%;
        margin-right: 5%;
    }

    div.menu {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #orcamento {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: normal;
    }

    #orcamento .imagem-botao img {
        display: none;
    }

    #orcamento .imagem-botao button {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -400px;
        position: relative;
        width: 911px;

        margin-left: -101px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }


    #orcamento .imagem-botao {
        display: flex;

        margin: 0 auto;
    }

    #orcamento .container-cards {

        width: 100px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #orcamento .container-cards .card input,
    #orcamento .container-cards .campo-textarea textarea {
        width: 800px;
        margin-bottom: -10px
    }

    #orcamento h2 {
        padding-bottom: 10px;
        height: 50px;
    }

    #cases {
        width: 70%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
    }



    #duvidas .duvida1 .pergunta1,
    #duvidas .duvida2 .pergunta2,
    #duvidas .duvida3 .pergunta3,
    #duvidas .duvida4 .pergunta4 {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #duvidas .duvida2 .resposta2,
    #duvidas .duvida3 .resposta3,
    #duvidas .duvida4 .resposta4 {
        margin-top: 16px;
        width: 690px;
    }


    #duvidas .duvida4 .resposta4 p {
        padding-top: 16px;
    }

    #duvidas .duvida2 .resposta2 {
        padding-top: 20px;
        font-size: 19px;
    }

    #duvidas .duvida3 .resposta3 {
        padding-top: 18px;
        font-size: 19px;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;
        display: unset;
        border: none;
        background: none;
    }

    header svg {
        fill: white;
    }

    nav.menu {
        height: 500px;
        width: 350px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: rgb(128, 166, 242);
        background: linear-gradient(0deg, rgba(128, 166, 242, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(128, 166, 242, 1) 100%);
        position: absolute;
        top: 1px;
        right: -50px;
        border-radius: 25px;
    }

    nav.menu a {
        width: 320px;
        height: 100px;
        border: 3px solid black;
        background-color: #9cb0d8;
        margin-bottom: 40px;
        text-align: center;
        border-radius: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    div.menu {
        border: none;
        background-color: transparent;
        width: 0px;
        height: 0px;
    }

    nav.menu {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    div.menu p {
        display: flex;
        top: -85px;
        position: relative;
    }

    div.menu nav.menu button {
        display: flex;
        width: 450px;

        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    #duvidas .duvida1 .resposta1 {
        width: 690px;
        margin-left: 60px;
    }

    #topo .banner .retorno a img {
        width: 150px;
    }
}

@media screen and (max-width: 1080px) {


    .menu button
    {
        display: none;
        width: 100px;
    }
    div.titulo-sub {
        height: 100px;
        position: relative;
        left: -84px;
    }

    div.menu nav.menu {
        position: absolute;
        width: auto;
    }

    #orcamento .container-cards .card input,
    #orcamento .container-cards .campo-textarea textarea {
        width: 650px;
    }

    #orcamento .imagem-botao button {
        width: 758px;
        margin-left: -101px;
    }

    #cases div.button-cases button {
        width: 759px;
        margin-left: -312px;
        margin-bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #topo .banner .retorno a img {
        width: 100px;
    }


}


@media screen and (max-width: 800px) {
    #sobre div.titulo-sub {
        height: 200px;
        width: 700px;
        margin-left: 40px;
    }

    #sobre .texto-sobre {
        width: 580px;
        height: 240px;
        margin-left: -10px;
    }

    #orcamento .container-cards .card input,
    #orcamento .container-cards .campo-textarea textarea {
        width: 450px;
    }

    #orcamento .imagem-botao button {
        width: 561px;
        margin-left: -101px;
    }

    #cases div.button-cases button {
        width: 562px;

    }

    #cases .texto-cases h2 {
        margin-top: -35px;
    }


    #empresa .repre h2 {
        text-align: center;
    }

    #rodape .banner_r h2 {
        text-align: center;
    }


    #rodape .banner_r .texto-botao .textor p {
        margin-left: 21px;
        font-size: 31px;
        text-align: justify;
        width: 350px;
    }
}

@media screen and (max-width: 551px) {



    #tpop .banner {
        background-size: 100px;
    }

    #sobre div.titulo-sub {
        height: 300px;
        width: 450px;
        margin-left: 40px;
    }

    #sobre .texto-sobre {
        width: 441px;
        height: 312px;
        margin-left: 0px;
    }

    #orcamento .container-cards .card input,
    #orcamento .container-cards .campo-textarea textarea {
        width: 360px;
    }

    #orcamento .imagem-botao button {
        width: 458px;
        margin-left: -101px;
    }

    #cases div.button-cases button {
        width: 470px;
    }

    #cases .texto-cases h2 {
        margin-top: -35px;
    }

    #empresa .repre h2 {
        text-align: center;
        font-size: 39px;
    }

    #rodape .banner_r h2 {
        text-align: center;
    }


    #rodape .banner_r .texto-botao .textor p {
        margin-left: 21px;
        font-size: 24px;
        text-align: justify;
        width: 235px;
    }

    #sobre .titulo-sub h2 {
        margin-top: 35px;
        font-size: 32px;
    }


    #orcamento {
        width: 83%;
        margin: 0 auto;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: normal;
    }

    #sobre .titulo-sub h3 {
        font-size: 23px;
        margin-top: 20px;
    }

    #orcamento h2 {
        padding-bottom: 10px;
        height: 50px;
        font-size: 27px;
    }

    #cases {
        width: 85%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #empresa .repre img {
        margin-top: 50px;
        width: 500px;
        margin-left: 10px;
    }

    #duvidas h2 {
        font-family: "bruno";
        font-size: 38px;
    }


    #duvidas .duvida1 .pergunta1 {
        width: 80%;
        margin-left: 10%;
        margin-right: 5%;
    }

    #duvidas .duvida1 .resposta1 {
        width: 398px;
        margin-left: 75px;
        HEIGHT: 100PX;
    }

    #duvidas .duvida1 .resposta1 p {
        text-align: center;
        padding-top: 19px;
        font-family: "electrolize";
        font-size: 18px;
    }

    #duvidas .duvida2 .resposta2 {
        padding-top: 0px;
        font-size: 19px;
        margin-top: 27px;
        width: 450px;
        height: 100px;
    }

    #duvidas .duvida2 .resposta2 p {
        text-align: center;
        padding-top: 30px;
        font-family: "electrolize";
        font-size: 18px;
    }

    #duvidas .duvida2 .pergunta2 h3 {
        text-align: center;
        font-family: "bruno";
        font-size: 21Px;
        padding-top: 26px;
    }

    #duvidas .duvida2 .resposta2 p {
        text-align: center;
        padding-top: 39px;
        font-family: "electrolize";
        font-size: 18px;
    }

    #duvidas .duvida3 .pergunta3 h3 {
        text-align: center;
        font-family: "bruno";
        font-size: 22px;
        padding-top: 25px;
    }

    #duvidas .duvida3 .resposta3 p {
        text-align: center;
        padding-top: 20px;
        font-family: "electrolize";
        font-size: 18px;
    }

    #duvidas .duvida3 .resposta3 {
        padding-top: 0px;
        font-size: 19px;
        width: 450px;
    }

    #duvidas .duvida4 .resposta4 {
        margin-top: 5px;
        width: 425px;
        height: 100px;
    }

    #duvidas .duvida4 .resposta4 p {
        padding-top: 16px;
        FONT-SIZE: 20px;
    }

    #duvidas .duvida1 .pergunta1 h3 {
        text-align: center;
        font-family: "bruno";
        font-size: 30px;
        padding-top: 32px;
    }

    #rodape .banner_r .texto-botao .textor a {
        background-color: var(--verde-gaia);
        margin-left: 10px;
        font-family: "electrolize";
        width: 190px;
        height: 80px;
        border: none;
        border-radius: 20px;
        text-align: left;
        color: white;
        font-size: 20px;
        text-indent: 15px;
        text-decoration: none;
        display: flex;
        font-size: 28px;
        text-align: center;
        margin-top: -30px;
        padding-top: 12px;
    }

    #rodape .banner_r .botaor a {
        background-color: var(--verde-gaia);
        cursor: pointer;
        width: 215px;
        height: 63px;
        margin-bottom: 100px;
        font-family: "electrolize";
        font-size: 28px;
        text-align: left;
        border: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
        text-indent: 10px;
        font-weight: 500;
        color: white;
        text-decoration: none;
        transition: 500ms;
    }

    #rodape .banner_r .botaor {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 30px;
        margin-top: 65px;
    }




}





@media screen and (max-width:1140px) 
{
    #orcamento .container-cards .card input,
     #orcamento .container-cards .campo-textarea textarea 
    {
        width: 693px;
        margin-bottom: -10px;
    }   

    #orcamento .imagem-botao button {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -400px;
        position: relative;
        width: 799px;
        margin-left: -101px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #sobre .titulo-sub {
        width: 1050px;
        height: 250px;
        font-family: "bruno";
        box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        margin: 0px auto;
        MARGIN-LEFT: -50px;
    }   
}


@media screen and (max-width:1080px)
{
    #sobre .titulo-sub {
        width: 1019px;
        height: 250px;
        font-family: "bruno";
        box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        margin: 0px auto;
        MARGIN-LEFT: 23px;
    }
    
    
    #orcamento .container-cards .card input, #orcamento .container-cards .campo-textarea textarea {
        width: 670px;
        margin-bottom: -10px;
    }

    #orcamento .imagem-botao button {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -400px;
        position: relative;
        width: 758px;
        margin-left: -101px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }


    #rodape .banner_r .texto-botao .textor p {
        font-family: "electrolize";
        font-size: 39px;
        width: 540px;
        height: 300px;
        margin-left: 75px;
        margin-top: 50px;
        text-align: justify;
        margin-bottom: 100px;
    }

}

@media screen and (max-width:1036px)
{
    #sobre .texto-sobre {
        width: 840px;
        height: 200px;
        font-family: "electrolize";
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding-top: 40px;
        margin-left: 5px;
        font-size: 24px;
    }

    #sobre .titulo-sub {
        width: 990px;
        height: 250px;
        font-family: "bruno";
        box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        margin: 0px auto;
        MARGIN-LEFT: 10px;
    }

    #orcamento .container-cards .card input,
     #orcamento .container-cards .campo-textarea textarea 
     {
        width: 630px;
        margin-bottom: -10px;
    }

    #orcamento .imagem-botao button {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -400px;
        position: relative;
        width: 727px;
        margin-left: -101px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #cases div.button-cases button {
        width: 728px;
        margin-left: -312px;
        margin-bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #rodape .banner_r .texto-botao .textor p {
        font-family: "electrolize";
        font-size: 39px;
        width: 500px;
        height: 300px;
        margin-left: 75px;
        margin-top: 50px;
        text-align: justify;
        margin-bottom: 100px;
    }

    #repre 
    {
        font-size: 24px;
    }
}    


@media screen and (max-width: 950px)
{
    #sobre .titulo-sub {
        width: 904px;
        height: 250px;
        font-family: "bruno";
        box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        margin: 0px auto;
        MARGIN-LEFT: 10px;
    }
    
    #sobre .texto-sobre {
        width: 756px;
        height: 200px;
        font-family: "electrolize";
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding-top: 40px;
        margin-left: 5px;
        font-size: 24px;
    }

    #orcamento .container-cards .card input, #orcamento .container-cards .campo-textarea textarea {
        width: 575px;
        margin-bottom: -10px;
    }

    #orcamento .imagem-botao button {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -400px;
        position: relative;
        width: 667px;
        margin-left: -101px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #cases div.button-cases button {
        width: 668px;
        margin-left: -312px;
        margin-bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
}

@media screen and (max-width:765px)
{
    #sobre div.titulo-sub {
        height: 200px;
        width: 700px;
        margin-left: 25px;
    }
    
    #sobre .texto-sobre {
        width: 580px;
        height: 245px;
        font-family: "electrolize";
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding-top: 15px;
        margin-left: 20px;
        font-size: 24px;
    }

    #orcamento .container-cards .card input,
    #orcamento .container-cards .campo-textarea textarea 
    {
        width: 439px;
        margin-bottom: -10px;
    }

    #orcamento .imagem-botao button {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -400px;
        position: relative;
        width: 536px;
        margin-left: -101px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #cases div.button-cases button {
        width: 537px;
        margin-left: -312px;
        margin-bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #rodape .banner_r .texto-botao .textor p {
        font-family: "electrolize";
        font-size: 32px;
        width: 336px;
        height: 300px;
        margin-left: 75px;
        margin-top: 50px;
        text-align: justify;
        margin-bottom: 100px;
        margin-right: 30px;
    }

    #duvidas .duvida1 .resposta1 {
        width: 645px;
        margin-left: 60px;
    }

    #duvidas .duvida2 .resposta2, #duvidas .duvida3 .resposta3, #duvidas .duvida4 .resposta4 {
        margin-top: 16px;
        width: 645px;
    }
}

@media screen and (max-width: 650px)
{
    #sobre div.titulo-sub {
        height: 200px;
        width: 590px;
        margin-left: 25px;
    }   

    #sobre .texto-sobre {
        width: 480px;
        height: 266px;
        font-family: "electrolize";
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding-top: 15px;
        margin-left: 20px;
        font-size: 24px;
    }

    #orcamento h2 {
        padding-bottom: 10px;
        height: 50px;
        font-size: 25px;
    }

    #orcamento .container-cards .card input, #orcamento .container-cards .campo-textarea textarea {
        width: 365px;
        margin-bottom: -10px;
    }

    #orcamento .imagem-botao button {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -400px;
        position: relative;
        width: 456px;
        margin-left: -101px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #cases div.button-cases button {
        width: 457px;
        margin-left: -312px;
        margin-bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #cases .texto-cases h2 {
        margin-top: -35px;
        margin-left: -30px;
    }

    #rodape .banner_r .texto-botao .textor p {
        font-family: "electrolize";
        font-size: 28px;
        width: 233px;
        height: 265px;
        margin-left: 75px;
        margin-top: 50px;
        text-align: justify;
        margin-bottom: 130px;
        margin-right: 30px;
    }

    #duvidas .duvida1 .resposta1 {
        width: 520px;
        margin-left: 60px;
    }

    #duvidas .duvida2 .resposta2, #duvidas .duvida3 .resposta3 {
        margin-top: -20px;
        width: 538px;
    }

    #duvidas .duvida4 .resposta4
    {
        margin-top: 4px;
        width: 538px;
    }
}


@media screen and (max-width:551px)
{
    #sobre div.titulo-sub {
        height: 263px;
        width: 495px;
        margin-left: 25px;
    }
    
    #orcamento .imagem-botao button {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -400px;
        position: relative;
        width: 459px;
        margin-left: -101px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #cases div.button-cases button {
        width: 472px;
        margin-left: -312px;
        margin-bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #duvidas .duvida1 .resposta1 {
        width: 408px;
        margin-left: 75px;
    }

    #duvida .duvida1 .resposta1
    {
        margin-top: 15px;
        width: 450px;
    }

    #duvidas .duvida2 .resposta2
    {
        margin-top: 20px;
        width: 441px;
    }

    #duvidas .duvida3 .resposta3
    {
        margin-top: 10px;
        width: 450px;
    }

    #duvidas .duvida4 .resposta4 {
        margin-top: 4px;
        width: 444px;
    }
    
    #sobre .texto-sobre {
        width: 390px;
        height: 344px;
        font-family: "electrolize";
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding-top: 15px;
        margin-left: 20px;
        font-size: 24px;
    }

    #sobre {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 95px;
    }

    #sobre .texto-sobre {
        width: 390px;
        height: 344px;
        font-family: "electrolize";
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding-top: 15px;
        margin-left: 10px;
        font-size: 24px;
    }
}


@media screen and (max-width: 451px)
{
    #sobre div.titulo-sub {
        height: 291px;
        width: 371px;
        margin-left: 25px;
    }
    
    #orcamento h2 {
        padding-bottom: 10px;
        height: 50px;
        font-size: 22px;
    }

    #orcamento .container-cards .card input, #orcamento .container-cards .campo-textarea textarea {
        width: 290px;
        margin-bottom: -10px;
    }

    #orcamento .imagem-botao button {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -400px;
        position: relative;
        width: 376px;
        margin-left: -101px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #cases div.button-cases button {
        width: 386px;
        margin-left: -312px;
        margin-bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #sobre .texto-sobre {
        width: 356px;
        height: 373px;
        font-family: "electrolize";
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding-top: 15px;
        margin-left: -4px;
        font-size: 24px;
    }

    #cases .texto-cases h2 {
        margin-top: -35px;
        margin-left: -45px;
    }

    #duvidas h2 {
        font-family: "bruno";
        font-size: 38px;
        text-align: center;
    }

    #duvidas .duvida1 .resposta1 {
        width: 340px;
        margin-left: 55px;
    }

    #duvidas .duvida1 .pergunta1 h3 {
        text-align: center;
        font-family: "bruno";
        font-size: 30px;
        padding-top: 12px;
    }

    #duvidas .duvida2 .resposta2 {
        margin-top: 8px;
        width: 350px;
    }

    #duvidas .duvida3 .resposta3 {
        margin-top: 10px;
        width: 360px;
        height: 100px;
    }

    #duvidas .duvida4 .pergunta4 h3 {
        text-align: center;
        font-family: "bruno";
        font-size: 23px;
        padding-top: 10px;
    }

    #duvidas .duvida4 .resposta4 {
        margin-top: 4px;
        width: 354px;
    }

    #empresa .repre img {
        margin-top: 50px;
        width: 430px;
        margin-left: 10px;
    }

    #rodape .banner_r .texto-botao .textor p {
        font-family: "electrolize";
        font-size: 28px;
        width: 233px;
        height: 265px;
        margin-left: 19px;
        margin-top: 50px;
        text-align: justify;
        margin-bottom: 162px;
        margin-right: 30px;
    }

    #rodape .banner_r .botaor a {
        background-color: var(--verde-gaia);
        cursor: pointer;
        width: 70px;
        height: 63px;
        margin-bottom: 100px;
        font-family: "electrolize";
        font-size: 28px;
        text-align: left;
        border: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
        text-indent: 10px;
        font-weight: 500;
        color: white;
        text-decoration: none;
        transition: 500ms;
        color: transparent;
    }
}

@media screen and (max-width: 321px)
{

    #topo {
        height: 870px;
    }

    #sobre div.titulo-sub {
        height: 425px;
        width: 200px;
        margin-left: 25px;
    }

    #orcamento .container-cards .card input, #orcamento .container-cards .campo-textarea textarea {
        width: 173px;
        margin-bottom: -10px;
    }

    #orcamento .imagem-botao button {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -400px;
        position: relative;
        width: 267px;
        margin-left: -101px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        margin-right: 0;
    }



    #cases .texto-cases h2 {
        margin-top: -50px;
        margin-left: -65px;
        font-size: 36px;
        /* height: 172px; */
    }

    #cases {
        width: 85%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
        height: 400px;
    }

    #cases div.button-cases button {
        width: 274px;
        margin-left: -243px;
        margin-bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #empresa .repre img {
        margin-top: 37px;
        width: 308px;
        margin-left: 0px;
    }

    #rodape .banner_r .texto-botao .textor p {
        font-family: "electrolize";
        font-size: 23px;
        width: 191px;
        height: 265px;
        margin-left: 19px;
        margin-top: 50px;
        text-align: justify;
        margin-bottom: 120px;
        margin-right: 30px;
    }

    #duvidas .duvida1 .pergunta1 {
        width: 75%;
        margin-left: 12%;
        margin-right: 5%;
    }

    #duvidas .duvida1 .resposta1 {
        width: 261px;
        margin-left: 32px;
        height: 116px;
    }

    #duvidas .duvida2 .pergunta2 {
        width: 261px;
        margin-left: 30px;
        height: 116px;
    }

    #duvidas .duvida2 .resposta2 {
        margin-top: -16px;
        width: 224px;
        height: 114px;
    }

    #duvidas .duvida3 .pergunta3 {
        width: 261px;
        margin-left: 30px;
        height: 116px;
    }
    #duvidas .duvida4 .pergunta4 {
        width: 261px;
        margin-left: 30px;
        height: 116px;
    }

    #duvidas .duvida3 .resposta3 {
        margin-top: 10px;
        width: 218px;
        height: 115px;
    }

    #duvidas .duvida4 .resposta4 {
        margin-top: 4px;
        width: 215px;
        height: 146px;
    }

    div.menu nav.menu {
        position: absolute;
        width: 250px;

        margin-left: -348px;
    }

    div.menu p {
        text-align: center;
        display: flex;
        top: -85px;
        position: relative;
        font-size: 32px;
    }

    nav.menu a {
        width: 200px;
        height: 100px;
        border: 3px solid black;
        background-color: #9cb0d8;
        margin-bottom: 40px;
        text-align: center;
        border-radius: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    div.menu nav.menu button {
        display: flex;
        width: 179px;
        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        padding-right: 150px;
    }

    #sobre .texto-sobre {
        width: 230px;
        height: 540px;
        font-family: "electrolize";
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding-top: 15px;
        margin-left: -4px;
        font-size: 23px;
    }

    #sobre .titulo-sub h2 {
        margin-top: 20px;
        font-size: 32px;
    }

    #rodape .banner_r .botaor a {
        background-color: var(--verde-gaia);
        cursor: pointer;
        width: 70px;
        height: 63px;
        margin-bottom: 100px;
        font-family: "electrolize";
        font-size: 28px;
        text-align: left;
        border: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
        text-indent: 10px;
        font-weight: 500;
        color: white;
        text-decoration: none;
        transition: 500ms;
        color: transparent;
        margin-right: -100px;
        /* margin-left: 1px; */
    }

}



@media screen and (max-width: 650px)
{
    #sobre div.titulo-sub {
        height: 200px;
        width: 590px;
        margin-left: 25px;
    }   

    #sobre .texto-sobre {
        width: 480px;
        height: 266px;
        font-family: "electrolize";
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding-top: 15px;
        margin-left: 20px;
        font-size: 24px;
    }

    #orcamento h2 {
        padding-bottom: 10px;
        height: 50px;
        font-size: 25px;
    }

    #orcamento .container-cards .card input, #orcamento .container-cards .campo-textarea textarea {
        width: 365px;
        margin-bottom: -10px;
    }

    #orcamento .imagem-botao button {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -400px;
        position: relative;
        width: 456px;
        margin-left: -101px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #cases div.button-cases button {
        width: 457px;
        margin-left: -312px;
        margin-bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #cases .texto-cases h2 {
        margin-top: -35px;
        margin-left: -30px;
    }

    #rodape .banner_r .texto-botao .textor p {
        font-family: "electrolize";
        font-size: 28px;
        width: 233px;
        height: 265px;
        margin-left: 75px;
        margin-top: 50px;
        text-align: justify;
        margin-bottom: 130px;
        margin-right: 30px;
    }

    #duvidas .duvida1 .resposta1 {
        width: 520px;
        margin-left: 60px;
    }

    #duvidas .duvida2 .resposta2, #duvidas .duvida3 .resposta3 {
        margin-top: -20px;
        width: 538px;
    }

    #duvidas .duvida4 .resposta4
    {
        margin-top: 4px;
        width: 538px;
    }
}


@media screen and (max-width:551px)
{
    #sobre div.titulo-sub {
        height: 263px;
        width: 495px;
        margin-left: 25px;
    }
    
    #orcamento .imagem-botao button {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -400px;
        position: relative;
        width: 459px;
        margin-left: -101px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #cases div.button-cases button {
        width: 472px;
        margin-left: -312px;
        margin-bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #duvidas .duvida1 .resposta1 {
        width: 408px;
        margin-left: 75px;
    }

    #duvida .duvida1 .resposta1
    {
        margin-top: 15px;
        width: 450px;
    }

    #duvidas .duvida2 .resposta2
    {
        margin-top: 20px;
        width: 441px;
    }

    #duvidas .duvida3 .resposta3
    {
        margin-top: 10px;
        width: 450px;
    }

    #duvidas .duvida4 .resposta4 {
        margin-top: 4px;
        width: 444px;
    }
    
    #sobre .texto-sobre {
        width: 390px;
        height: 344px;
        font-family: "electrolize";
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding-top: 15px;
        margin-left: 20px;
        font-size: 24px;
    }

    #sobre {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 95px;
    }

    #sobre .texto-sobre {
        width: 390px;
        height: 344px;
        font-family: "electrolize";
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding-top: 15px;
        margin-left: 10px;
        font-size: 24px;
    }
}


@media screen and (max-width: 509px) {
    #sobre div.titulo-sub {
        height: 263px;
        width: 460px;
        margin-left: 25px;
    }
}